* {
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: green;
    overflow: auto;


}

[class*="col-"] {
    float: left;
    padding: 10px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}




.top {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #171010;
    text-align: center;
    color: gold;
}

.top h3 {
    font-weight: 600;
    padding: 5px 0px;
    letter-spacing: 1px;
}

.top::after {
    content: "";
    clear: both;
    display: table;
}



.below {
    position: absolute;
    top: 70px;
    background-color: transparent;
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.below h4 {
    padding: 0px 5px;
    text-align: center;
    font-weight: 500;
    padding: 7px;
}

.below h4 span {
    color: red;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    animation: anim 3s linear infinite;
}

@keyframes anim {
    50% {
        color: beige;
    }

    100% {
        color: yellow;
    }
}

.below::after {
    content: "";
    clear: both;
    display: table;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 340px;
    background: green;
    position: relative;
    margin-bottom: 0;
}

.slideshow-elements{
    margin-bottom: 0;
    position: absolute;
}

.slideshow-element {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    width: 90vw;
    height: 350px;
    padding-bottom: 15px;
}

.slideshow-element.current {
    transform: translate(-50%, -50%) scale(1);
}

.slideshow-element img {
    width: 95%;
    height: 90%;
    border-radius: 10px;

}

.slideshow-element p {
    color: beige;
    font-size: small;
    font-style: italic;
    letter-spacing: 0.5px;
}



.copyright {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 500px;
    margin-bottom: 0;
    padding: 7px 10px;
    background-color: transparent;
    text-align: center;
    color: yellow;
    opacity: 0.8;
}

.copyright p {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: x-small;
}

.copyright #demo span {
    font-weight: bold;
    color: red;
    letter-spacing: 2px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    50% {
        color: beige;
    }

    100% {
        color: yellow;
    }
}

.slideshow-container::after {
    content: "";
    clear: both;
    display: table;
}

/* .copyright::after {
    content: "";
    clear: both;
    display: table;
} */

/* @media screen and (max-width: 768px) {
    .slideshow-container .below {
        margin-top: 10px;
    }

    .slideshow-element {
        margin-top: 10px;
    }

    .slideshow-element img {
        width: 500px;
        height: 320px;
    }
}

@media screen and (max-width: 600px) {
    .slideshow-element {
        margin-top: 20px;
    }

    .slideshow-element img {
        width: 300px;
        height: 230px;
    }

    .copyright p {
        padding: 5px 8px;
    }

    .slideshow-container .below {
        top: 100px;
    }
}

@media screen and (max-width: 350px) {
    .slideshow-element {
        margin-top: 10px;
    }

    .slideshow-element img {
        width: 250px;
        height: 210px;
    }

    .copyright {
        height: 75px;
        margin-top: -75px;
        clear: both;
    }

    .slideshow-container .below {
        top: 90px;
    }
} */